@charset "utf-8";
body{
	padding: 15px;
	height: auto;
	background:#51A8FF;
		}
#content{
	width: 999px;
	margin: auto;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 15px;
	background:#666;
	
	}

#head table{
	width:990px;
	height:auto;
	margin:auto;
	}
#head table tr td{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	text-justify: distribute;
	font-weight: bold;
	}
#head table tr td img{
	float:left;
	margin-top:5px;
	margin-left:300px;
	margin-bottom:5px;
	margin-right:20px;
	}
#payor{
	width:500px;
	}
#num{
	width:25px;
	}
#btn{
	height:50px;
	}
#td_font{
	color:#FFF;
	}

#icon_holder{
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	margin-bottom:3px;
	width:450px;
	height:300px;
	background:#fff;
	
	border-radius:15px;
	padding:2px;
	}
